@use "sass:string";
@use "breakpoints";

// Mixin dla margin-top i margin-bottom od 0px do 200px z krokiem 10px
@mixin generate-margin-helpers {
  @for $i from -20 through 20 {
    $spacing: $i * 10px;
    $spacing-no-unit: string.slice(#{$spacing}, 1, -3); // Usuwa "px" z końca wartości
    // Klasa domyślna (globalna) dla margin-top
    .mt-#{$spacing-no-unit} {
      margin-top: $spacing !important;
    }
    // Klasa domyślna (globalna) dla margin-bottom
    .mb-#{$spacing-no-unit} {
      margin-bottom: $spacing !important;
    }
    // Klasy z breakpointami dla margin-top
    @include breakpoints.breakpoint-classes('mt', $spacing-no-unit, margin-top, $spacing);
    // Klasy z breakpointami dla margin-bottom
    @include breakpoints.breakpoint-classes('mb', $spacing-no-unit, margin-bottom, $spacing);
  }
}