@import 'variables';
@import 'mixins';

html,
body,
img,
figure {
  max-width: 100%;
  // background-image: url('../images/image-name.jpg');
}

html,
body {
  // overflow-x: hidden;
  -ms-overflow-style: scrollbar;
  -webkit-font-smoothing: antialiased;
  background-color: $white;
}

body {
  padding-right: 0 !important;
  font-weight: 400;
  background-repeat: no-repeat;
  color: $black;
  min-height: 100vh;

  // hack for slider in iframe
  width: 1px;
  min-width: 100%;
}

a,
a:hover,
a:active,
a:link,
a:visited {
  color: inherit;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  outline: none;
}

html {
  font-size: 62.5%;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

.no-animation {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}